html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f2efe9;
}

.map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.ol-popup {

    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    /* bottom: 23px;
    left: -93px;*/
    /*
    position: absolute;
    min-width: 120px;*/
}


/*.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    /*position: absolute;* /
    pointer-events: none;
}*/

.ol-popup:after {
    border-top-color: white;
    border-width: 5px;
    /*left: 95px;*/
    margin-left: -10px;

    content: " ";
    position: absolute;
    right: 15px;

    border-top: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: none;
}

.ol-popup:before {
    border-top-color: white;
    border-width: 6px;
    /*left: 95px;*/
    margin-left: -11px;

}

.ol-popup-closer {
    text-decoration: none;
    /*position: absolute;
    top: 6px;
    right: 12px;*/
    display: none;
}

.ol-popup-closer:after {
    content: "✖";
    display: none;
}

.ol-attribution.ol-uncollapsible {

    display: none !important;
}

.ol-control button {
    background-color: #842837 !important;
}
